.footer {
  background-color: #f4f4f4;
  padding: 40px 80px;
  font-family: Arial, sans-serif;
}

.newsletter {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.newsletterLeft,
.newsletterRight {
  width: 100%;
  max-width: none;
  text-align: center;
  margin-bottom: 20px;
}

.newsletter h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 0.9rem;
  color: #666;
}

.newsletterInput {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  margin-top: 10px;
  justify-content: center;
}

.newsletterInput input {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.newsletterInput button {
  padding: 10px;
  border: none;
  background-color: #634C9F;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.newsletterRight small {
  display: flex;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #666;
  text-align: right;
  justify-content: center;
}


.newsletterInput button {
  padding: 10px 20px;
  border: none;
  background-color: #634C9F;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.section {
  width: 45%;
  margin-bottom: 20px;
}

.section h3 {
  font-size: 1rem;
  color: #333;
}

.section p, .section ul {
  font-size: 0.85rem;
  color: #666;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section ul li {
  margin: 5px 0;
}

.appLinks svg {
  width: 35px;
  margin: 15px;
}

.bottom {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.socialIcons svg, .paymentMethods svg {
  width: 45px;
  margin: 0 10px;
}

.paymentMethods {
  display: flex;
}

@media (min-width: 768px) {
  .newsletter {
    flex-direction: row;
    justify-content: space-between;
  }

  .newsletterLeft,
  .newsletterRight {
    width: 50%;
  }

  .sections {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .section {
    width: 18%;
  }

  .bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}